PORT=3000
NODE_ENV=development
#  Database
DB_USERNAME = 'awesome'
DB_PASSWORD = 'chenzaapp'
DB_NAME = 'cv-faster'
DB_HOST = '127.0.01'
DB_DIALECT = 'mysql'

EMAIL_PASSWORD=izgb lphw jeqb goip
EMAIL_USER=magagaefrem@gmail.com
EMAIL_FROM_USER=chenzaapp@gmail.com

